body {
  margin: 100px;
}

.subHeading {
  color: rgb(230, 181, 23);
  border-bottom: 1.5px solid gray;
  text-align: right;
  padding-bottom: 20px;
  padding-right: 150px;
}

.pageBody {
  display: flex;
}

#homePageLinks {
  margin: auto;
}

.flowerPageHeading {
  display: flex;
  border-bottom: 1.5px solid gray;
  margin-top: -50px;
  margin-bottom: 20px;
  justify-content: center;
  font-size: 25px;
}

.flowerPageContent {
  margin: auto;
  margin-left: 20px;
}

.flower-image {
  width: 500px;
  height: auto;
}
